
@{
    ViewData["Title"] = "CategoryList";
}
@model List<WebApplication10.Models.Category>
<style>
    .brands_products {
        color: #FE980F;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 700;
        margin: 0 auto 30px;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        z-index: 3;
    }
</style>
<h1>CategoryList</h1>

<div class="col-sm-3" style="margin-top:30px">
    <div class="left-sidebar">

        <div class="brands_products">
            <!--brands_products-->
            <h2>KATEGORİLER</h2>
            <table class="brands-name">
                @foreach (var item in Model)
                {
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="/Category/Details/@item.Id"> <span class="pull-right"></span>@item.Name</a></li>


                    </ul>
                }

            </table>
        </div><!--/brands_products-->



    </div>
</div>
