@ViewBag.islem
@inject LanguageService language
<div class="col-md-6 col-md-offset-2">
    <section>
        <br />
        <br />
        <img src="~/ImagesFile/Gratis-logo-big.svg.jpg" class="w-100" alt="...">
        <h1>@language.Getkey("wish you to enjoy it")<h1>
    </section>
</div>