
@{
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
    .login-container {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .login-form-1 {
        padding: 5%;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    }

        .login-form-1 h3 {
            text-align: center;
            color: #333;
        }

    .login-form-2 {
        padding: 5%;
        background: #9900FF;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    }

        .login-form-2 h3 {
            text-align: center;
            color: #fff;
        }

    .login-container form {
        padding: 10%;
    }

    .btnSubmit {
        width: 50%;
        border-radius: 1rem;
        padding: 1.5%;
        border: none;
        cursor: pointer;
    }

    .login-form-1 .btnSubmit {
        font-weight: 600;
        color: #fff;
        background-color: #9900FF;
    }

    .login-form-2 .btnSubmit {
        font-weight: 600;
        color: #9900FF;
        background-color: #fff;
    }

    .login-form-2 .ForgetPwd {
        color: #fff;
        font-weight: 600;
        text-decoration: none;
    }

    .login-form-1 .ForgetPwd {
        color: #9900FF;
        font-weight: 600;
        text-decoration: none;
    }

</style>
<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <h3>Kullanıcı Girişi</h3>
            <form action="/Account/Login" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Kullanıcı Adınız" name="Email" />
                    <br />
                    <input type="password" class="form-control" placeholder="Şifreniz" name="Password" />
                <span>
                      
                    <input type="checkbox" class="checkbox">
                    Beni Hatırla
                </span>
                    <button type="submit" class="form-control "class="btn btn-default">Giriş</button>
         </div>
            </form>
        </div>
        <div class="col-md-6 login-form-2">
            <h3>Hesabınız yoksa kayıt olun...</h3>
            <form action="/Account/Register" method="post">
                <input type="text" class="form-control" placeholder="Adınız" name="Name" />
                <br />
                <input type="text" class="form-control" placeholder="Soyadınız" name="Surname" />
                <br />
                <input type="text" class="form-control" placeholder="Kullanıcı Adınız" name="Username" />
                <br /> <input type="email" class="form-control" placeholder="Email Adresiniz" name="Email" />
                <br />  <input type="password" class="form-control" placeholder="Şifreniz" name="Password" />
                <br />   <input type="password" class="form-control" placeholder="Şifre Tekrar" name="RePassword" />
                <br />   <button type="submit" class="form-control" class="btn btn-default">Kaydol</button>
            </form>
        </div>
    </div>
</div>

